@import 'styles/shared/titles.scss';
@import 'styles/shared/descriptions.scss';
@import 'styles/shared/padding.scss';
@import 'styles/abstracts/variables.scss';

.homeBanner {
  background-image: url('../../../assets/images/home/banner.png');
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  min-height: 187px;
  position: relative;

  &__wrapper {
    position: absolute;
    bottom: -35%;
    left: 0;
    width: 100%;
  }

  &__text {
    width: 90%;
    margin: 0 auto;
    @extend %pl-24;
    @extend %pb-16;

    h1 {
      @extend %title-30;
    }
  }

  &__information {
    background-color: $color-white;
    width: 90%;
    margin: 0 auto;
    box-shadow: 0px 2px 8px rgba(74, 74, 74, 0.1);
    border-radius: 8px;
    padding: 14px 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &__tier {
      @extend %description-10;
      @extend %pb-6;

      p {
        font-weight: 600;
        color: $color-gold;
      }
    }

    &__name {
      h5 {
        @extend %title-20;
        font-weight: bold;
        line-height: 35px;
      }

      p {
        @extend %description-10;
        font-weight: 500;
      }
    }

    &__right {
      text-align: right;
    }

    &__qr {
      @extend %pb-6;

      img {
        width: 21px;
        height: 21px;
      }
    }

    &__points {
      .points {
        @extend %description-20;
      }
    }
  }
}
