$sizes: 103,
40,
32,
24,
16,
10,
8,
6;

@each $size in $sizes {
  %pb-#{$size} {
    padding-bottom: #{$size}px;
  }

  %pt-#{$size} {
    padding-top: #{$size}px;
  }

  %pr-#{$size} {
    padding-right: #{$size}px;
  }

  %pl-#{$size} {
    padding-left: #{$size}px;
  }
}
