$sizes: 103,
64,
40,
32,
30,
24,
20,
16,
10,
8,
6;

@each $size in $sizes {
  %pb-#{$size} {
    padding-bottom: #{$size}px;

    @media screen and (min-width:768px) {
      padding-bottom: #{$size}px;

    }
  }

  %pt-#{$size} {
    padding-top: #{$size}px;
  }

  %pr-#{$size} {
    padding-right: #{$size}px;
  }

  %pl-#{$size} {
    padding-left: #{$size}px;
  }
}
