@import 'styles/abstracts/variables.scss';

%title-24 {
  font-size: 2rem;
  font-family: $font-amiri;
}

%title-53 {
  font-size: 5.3rem;
  font-family: $font-amiri;
}

%title-60 {
  font-size: 6rem;
  font-family: $font-amiri;
}

%title-100 {
  font-size: 10rem;
  font-family: $font-amiri;
}

%title-120 {
  font-size: 12rem;
  font-family: $font-amiri;
}

%title-200 {
  font-size: 20rem;
  font-family: $font-amiri;
}
