@use "sass:math";
@import 'styles/abstracts/variables.scss';

@function toRem($value) {
  $remValue: math.div($value, 12) + rem;
  @return $remValue;
}

$sizes: 40,
32,
30,
24,
20,
16,
10,
8;

@each $size in $sizes {
  %title-#{$size} {
    font-size: toRem($size);
    font-family: $font-amiri;

  }

}
