@import 'styles/abstracts/variables.scss';
@import 'styles/abstracts/functions.scss';



$sizes: 64,
54,
40,
32,
30,
24,
20,
16,
12,
10,
8;

@each $size in $sizes {
  %title-#{$size} {
    font-size: toRem($size);
    font-family: $font-amiri;

  }

}
