@import 'styles/shared/titles.scss';
@import 'styles/shared/padding.scss';
@import 'styles/abstracts/mixins';

.login__title {
  @extend %pb-40;

  @include responds-to("large") {
    padding-bottom: 25px;
  }

  h1 {
    @extend %title-24;
    text-transform: uppercase;
    text-align: center;
    line-height: 30px;

    @include responds-to("large") {
      font-size: 56px;
    }

    strong {
      font-weight: 700;

      @include responds-to('large') {
        line-height: 112px;

      }
    }
  }
}
