@import 'styles/shared/padding.scss';

.changePasswordForm {
  &__wrapper {
    max-width: 741px;
  }

  &__description {
    padding: 35px 0;
  }

  &__form {
    .form {
      &__field {
        @extend %pb-16;
      }

      &__submit {
        @extend %pt-16;
        max-width: 326px;
      }
    }
  }
}
