@import 'styles/shared/titles.scss';
@import 'styles/shared/descriptions.scss';
@import 'styles/shared/padding.scss';
@import 'styles/abstracts/mixins';

.resetPassword {
  width: 100%;
  display: grid;
  place-items: center;

  &__title {
    @extend %pb-40;


    h1 {
      @extend %title-24;
      text-align: center;

      @include responds-to('large') {
        font-size: 30px;
        font-weight: 700
      }
    }
  }

  &__description {
    @extend %pb-32;
    text-align: center;
    width: 90%;
    margin: 0 auto;

    @include responds-to('large') {
      width: 45%;

    }

    p {
      @extend %description-12
    }

  }
}
