$primary-color:#E21936;

$color-black:#000;
$color-white:#fff;
$color-grey-1:#E8E9EB;
$color-grey-2:#CCCDC6;
$color-grey-3:#BBBCB6;
$color-grey-4:#ACADA8;
$color-grey-5:#746D69;

$font-amiri:'Amiri';
$font-montserrat:'Montserrat';

$border-color:#E9E9E9;
$color-gold:#CFB559;

$home-bg-color-grey:#F7F7F7;

$border-color-2:#D3D3D3;

$z-indexes: ('navigation',
  'content'
);

$font-dir:'../assets/fonts';
