$primary-color:#E21936;

$color-black:#000;
$color-white:#fff;

$font-amiri:'Amiri';
$font-montserrat:'Montserrat';

$border-color:#E9E9E9;
$color-gold:#CFB559;

$home-bg-color-grey:#F7F7F7;

$z-indexes: ('navigation',
  'content'
);

$font-dir:'../assets/fonts';
