@import 'styles/shared/titles.scss';
@import 'styles/shared/descriptions.scss';
@import 'styles/shared/padding.scss';
@import 'styles/abstracts/variables.scss';
@import 'styles/abstracts/mixins.scss';

.changePasswordBanner {
  &__title {

    h1 {
      @extend %title-24;
      font-weight: 700;
      line-height: 42px;
      padding: 16px 0;

      @include responds-to("large") {
        font-size: 36px;
        line-height: 105px;
      }
    }
  }
}
