@import 'styles/shared/padding.scss';
@import 'styles/abstracts/mixins';

.forgotPasswordForm {
  &__wrapper {
    width: 90%;
    margin: 0 auto;
  }

  &__form {
    .form {
      &__field {
        @extend %pb-32
      }

      button {
        max-width: 326px;
      }
    }
  }
}
