@import 'styles/abstracts/variables.scss';
@import 'styles/shared/padding.scss';

.loginFooter {
  text-align: center;

  &__signUp {
    @extend %pb-8;

    a {
      font-weight: 600
    }
  }

  &__forgot {
    a {
      color: $color-black;
    }
  }
}
