@import 'styles/shared/padding.scss';
@import 'styles/shared/titles.scss';
@import 'styles/shared/descriptions.scss';
@import 'styles/abstracts/variables.scss';
@import 'styles/abstracts/mixins.scss';

.homeNews {
  @extend %pb-16;
  background-color: $home-bg-color-grey;
  @extend %pt-103;

  @include responds-to("medium") {
    padding-top: 0;
    margin-top: -2px;
    padding-bottom: 0;

  }

  &__wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }

  &__pc {
    display: none;

    &__carousel {
      position: relative;

      .alice-carousel__dots {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);

      }
    }

    @include responds-to("medium") {
      display: block;

    }
  }

  &__mobile {
    display: block;

    @include responds-to("medium") {
      display: none;
    }

    &__title {
      @extend %pl-24;
      @extend %pb-16;

      h2 {
        color: $primary-color;
        @extend %description-10;
        font-weight: 700;
      }

      p {
        @extend %title-20;
        line-height: 35px;

      }
    }

    &__carousel {

      .alice-carousel {
        .carousel-item {
          img {
            width: 96%;
            border-radius: 8px;
          }
        }
      }
    }
  }
}
