@import 'styles/shared/padding.scss';

.resetPasswordForm {
  &__wrapper {
    width: 90%;
    margin: 0 auto;
  }

  &__form {
    .form {
      &__field {
        @extend %pb-16;
      }

      &__submit {
        @extend %pt-16;
      }

      button {
        max-width: 326px;
      }
    }
  }
}
