@import 'styles/shared/padding.scss';
@import 'styles/shared/descriptions.scss';
@import 'styles/abstracts/variables.scss';

.signUpForm {
  padding-bottom: 120px;
  width: 90%;
  margin: 0 auto;

  &__wrapper {
    .form {
      &__submit {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: $color-white;
        padding: 16px 0;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

        &__wrapper {
          width: 90%;
          margin: 0 auto;
        }
      }

      &__field {
        @extend %pb-16;
      }

      &__checkboxFields {
        @extend %pb-8;
      }

      &__text {
        @extend %pb-10;

        p {
          @extend %description-12;
          font-weight: 600;
        }
      }

      &__tnc {
        @extend %pt-16;
        border-top: 1px solid $border-color;
      }
    }
  }
}
