@import 'styles/abstracts/variables.scss';
@import 'styles/shared/padding.scss';
@import 'styles/shared/titles.scss';
@import 'styles/abstracts/mixins.scss';
@import 'styles/shared/descriptions.scss';

.homeEvents {

  &__wrapper {}

  &__title {
    @include displayFlex(flex, space-between, center);
    @extend %pb-16;
    @extend %pl-24;
    @extend %pr-24;

    h5 {
      @extend %title-20;

      @include responds-to('medium') {
        font-size: 2.5rem;
        line-height: 84px
      }
    }


  }

  .seeAll {
    @extend %description-10;
    color: $primary-color;
    text-align: right;
    font-weight: 500;
    text-decoration: none;

    &:hover {
      text-decoration: underline;

    }
  }

  &__content {
    &__events {
      display: grid;
      grid-template-columns: repeat(2, minmax(100px, 1fr));
      gap: 16px;

      @include responds-to("medium") {
        grid-template-columns: repeat(3, minmax(100px, 1fr));
        gap: 33px;

      }

      .event {
        border-radius: 8px;
        overflow: hidden;
        transition: .3s;
        cursor: pointer;

        &:hover {
          box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

          img {
            transform: scale(1.20);
          }
        }

        img {
          transition: .3s;
          transform: scale(1.15);
          width: 100%;
        }
      }
    }
  }
}
