@import 'styles/shared/titles.scss';
@import 'styles/shared/descriptions.scss';
@import 'styles/shared/padding.scss';

.changePassword {
  width: 100%;

  &__title {
    @extend %pb-40;

  }

  &__description {
    @extend %pb-32;
    text-align: center;
    width: 90%;
    margin: 0 auto;

    p {
      @extend %description-12
    }

  }
}
