* {
  box-sizing: border-box;

}

html {
  height: -webkit-fill-available;
  font-size: 12px;

  @media screen and (min-width:768px) {
    font-size: 14px !important;

  }
}

html,
body {
  height: 100%;
  width: 100%;
  color: #000;


}

body {
  font-family: $font-montserrat;
  font-weight: 400;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

input:-webkit-autofill {
  -webkit-box-shadow: none !important;
  -webkit-text-fill-color: #333 !important;
  background-color: transparent !important;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: none !important;
  -webkit-text-fill-color: #333 !important;
  background: transparent !important;

}

#app {}

a {
  color: #2A75BB;
  text-decoration: underline;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

button {
  font-family: $font-montserrat;

  span {
    font-family: $font-montserrat;

  }
}

p {
  line-height: 15px;

  @media screen and (min-width:768px) {
    line-height: 19.6px;

  }
}

strong {
  font-weight: 600;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.display-lg {
  display: none;

  @media screen and (min-width:992px) {
    display: block;

  }
}

.hidden-lg {
  display: block;

  @media screen and (min-width:992px) {
    display: none !important;

  }
}
